<!DOCTYPE html>
    <html>
    <head>
            <meta http-equiv="refresh" content="3">
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <title>Twitter Map</title>
            {{fullmap7.js}}
    </head>
    <body>
	<div>
        {{ fullmap7.html }}
	</div>
	<div>
        <p>Twitt Map (orange point represents the newest twitter(s) since you opened this page, you can click to see)</p>
	<a href="http://flask-env.m58hqr2umd.us-west-2.elasticbeanstalk.com/twittmap">All Results</a> <a href="http://flask-env.m58hqr2umd.us-west-2.elasticbeanstalk.com/hillary">Hillary Clinton</a> <a href="http://flask-env.m58hqr2umd.us-west-2.elasticbeanstalk.com/trump">Donald Trump</a> <a href="http://flask-env.m58hqr2umd.us-west-2.elasticbeanstalk.com/birthday">Birthday</a> <a href="http://flask-env.m58hqr2umd.us-west-2.elasticbeanstalk.com/world">World</a> <a href="http://flask-env.m58hqr2umd.us-west-2.elasticbeanstalk.com/game">Game</a> <a href="http://flask-env.m58hqr2umd.us-west-2.elasticbeanstalk.com/love">Love</a> <a href="http://flask-env.m58hqr2umd.us-west-2.elasticbeanstalk.com/football">Football</a> <a href="http://flask-env.m58hqr2umd.us-west-2.elasticbeanstalk.com/university">University</a> <a href="http://flask-env.m58hqr2umd.us-west-2.elasticbeanstalk.com/swift">Taylor Swift</a>
	</div>
    </body>
</html>
